<!-- market.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}來一客產銷系統{% endblock %}
{% block content %}
<div class='container'>
	<b><font color="#008080" size="5pt">行銷管理功能</font></b>
	<hr style="border:2px solid #00d3a1;" />
	<div class='row'>
		<div class='col-md-3'>
			<button type="button" class="style1" onclick="location.href='/market/rfm'">
			<font color=white size="6">RFM<br>分析</font>
			</button> 
		
		</div>
		<div class='col-md-3'>
			<button type="button" class="style1" onclick="location.href='/market/item'">
			<font color=white size="6">品類<br>分析</font>
			</button>
		
		</div>
		<div class='col-md-3'>
			<button type="button" class="style1" onclick="location.href='/market/trend'">
			<font color=white size="6">時間<br>分析</font>
			</button>		
		</div>
		<div class='col-md-3'>
		
		
		</div>
	</div>




</div>

{% endblock %}