<!-- mps.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}來一客產銷系統{% endblock %}
{% block content %}
<div class='container'>
	<b><font color="#008080" size="5pt">主排程規劃</font></b>
	<hr style="border:2px solid #00d3a1;background-color:#66CDAA" />
	<div class='list-group'>
		<a href='/product/mps/1' class='list-group-item'>
		<font color="#008080" size="3">牛肉蔬菜風味</font>
		</a>
		<a href='/product/mps/2' class='list-group-item'>
		<font color="#008080" size="3">川辣牛肉風味</font>
		</a>
		<a href='/product/mps/3' class='list-group-item'>
		<font color="#008080" size="3">肉燥菠菜風味</font>
		</a>
		<a href='/product/mps/4' class='list-group-item'>
		<font color="#008080" size="3">京燉肉骨風味</font>
		</a>
		<a href='/product/mps/5' class='list-group-item'>
		<font color="#008080" size="3">韓式泡菜風味</font>
		</a>
		<a href='/product/mps/6' class='list-group-item'>
		<font color="#008080" size="3">鮮蝦魚板風味</font>
		</a>
	</div>



</div>

{% endblock %}