<!-- mrp.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}{{ product.name }} - MRP{% endblock %}
{% block content %}
<div class='container'>
	<div class='row'>
		<div class='col-md-6'>
			<a href='/product/mps/{{ product.id }}'>上一步</a>
		</div>
	</div>
	<div>
	<b><font color="#008080" size="5pt">BOM(物料清單)</font></b>
			<hr style="border:2px solid #00d3a1;background-color:#66CDAA" />
			<table>
				<tr bgcolor='#ccffcc'><td width=180 align=center>泡麵</td>
					<td width=40>LT</td>
					<td width=150>半成品名稱</td>
					<td width=40>LT</td>
					<td width=80>所需數量</td>
					<td width=100>原料名稱</td>
					<td width=40>LT</td>
					<td width=50>所需數量</td>
				</tr>
				<tr><td>{{ product.name }}</td><td>1</td><td>{{ flavor }}</td><td>1</td><td>1</td><td>脫水蔬菜</td><td>2</td><td>0.015(kg)</td></tr>
				<tr><td></td><td></td><td></td><td><td></td></td><td>調味粉料</td><td>1</td><td>0.003(kg)</td></tr>
				<tr><td></td><td></td><td></td><td><td></td></td><td>塑膠包裝</td><td>1</td><td>1</td></tr>
				<tr><td></td><td></td><td>油包</td><td>1</td><td>1</td><td>油</td><td>1</td><td>0.005(kg)</td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td>塑膠包裝</td><td>1</td><td>1</td></tr>
				<tr><td></td><td></td><td>麵體</td><td>1</td><td>1</td><td>麵粉</td><td>1</td><td>0.04(kg)</td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td>食鹽</td><td>1</td><td>0.003(kg)</td></tr>
				<tr><td></td><td></td><td>紙碗</td><td>1</td><td>1</td><td>半成品紙碗</td><td>2</td><td>1</td></tr>
				<tr><td></td><td></td><td></td><td><td></td></td><td>塑膠封膜</td><td>1</td><td>1</td></tr>
			</table>
			<br>
	</div>
	<b><font color="#008080" size="5pt">MRP(物料需求規劃)</font></b>
	<hr style="border:2px solid #00d3a1;background-color:#66CDAA" />
	<div class='row'>
		<div class='col-md-2'></div>
		<div class='col-md-2'>
			<b><font color="#008080" size="3pt">逐批訂購: MRP </font></b>
		
		</div>
	</div>
	<div class='row'>
		<div class='col-md-2'>
		</div>
		<div class='col-md-2'>
			<font size="3">{{ product.name }}的主排程:</font>
		</div>
		<div class='col-md-6'>
			<div align=right>
			<table>
			<tr>
				<td width=50>週次</td>
				<td width=50><font size="2">期初<br>存貨</br></font></td>
				<td width=50>1</td>
				<td width=50>2</td>
				<td width=50>3</td>
				<td width=50>4</td>
				<td width=50>5</td>
				<td width=50>6</td>
				<td width=50>7</td>
				<td width=50>8</td>
			</tr>
			<tr>
				<td>數量</td>
				<td>{{ product.stock }}</td>
			{% for m in mps_list %}
				<td>{{ m }}</td>
			{% if forloop.last %}
			</tr>
			</table>
			{% endif %}
			{% empty %}
			{% endfor %}
			
			</table>
			</div>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class='col-md-10'>
			<div align=right>
				<table>
				<tr>
					<td width=120>{{ product.name }}</td><td width=180>毛需求</td><td width=50></td>
					{% for m in mps_list %}
						<td width=50>{{ m }}</td>
					{% if forloop.last %}
					</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td>前置時間=</td><td>預計存貨</td><td>{{ product.stock }}</td>
					{% for p in pre_stock %}
						<td width=50>{{ p }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
			
				<tr>
					<td>{{ product.TL }} 週</td><td>淨需求</td><td></td>
					{% for n in need %}
						<td width=50>{{ n }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td></td><td>計畫訂單接收量</td><td></td>
					{% for r in receive %}
						<td width=50>{{ r }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td></td><td>計畫訂單發出量</td><td></td>
					{% for s in send %}
						<td width=50>{{ s }}</td>
					{% if forloop.last %}
					</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<br>
	<div class='row'>
		<div class='col-md-2'>
			<b><font size="3" color='#008080'>半成品MRP:</font></b>
		</div>
	</div>
	{% for inter in inter_mrp_list %}
	<div class='row'>
		<div class='col-md-10'>
			<div align=right>
			<table>
				<tr>
					<td width=120>{{ inter.0 }}</td><td width=180>毛需求</td><td width=50></td>
					{% for m in inter.1 %}
						<td width=50>{{ m }}</td>
					{% if forloop.last %}
					</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td>前置時間=</td><td>預計存貨</td><td>{{ inter.2 }}</td>
					{% for p in inter.3 %}
						<td width=50>{{ p }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
			
				<tr>
					<td>{{ inter.4 }} 週</td><td>淨需求</td><td></td>
					{% for n in inter.5 %}
						<td width=50>{{ n }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td></td><td>計畫訂單接收量</td><td></td>
					{% for r in inter.6 %}
						<td width=50>{{ r }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td></td><td>計畫訂單發出量</td><td></td>
					{% for s in inter.7 %}
						<td width=50>{{ s }}</td>
					{% if forloop.last %}
					</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
			</table>
			</div>
		</div>
	</div>
	<br>
	{% empty %}
	{% endfor %}
	<br>
	<div class='row'>
		<div class='col-md-2'>
			<b><font size="3" color='#008080'>原料MRP:</font></b>
		</div>
	</div>
	{% for ingre in ingre_mrp_list %}
	<div class='row'>
		<div class='col-md-10'>
			<div align=right>
			<table>
				<tr>
					<td width=120>{{ ingre.0 }}</td><td width=180>毛需求</td><td width=50></td>
					{% for m in ingre.1 %}
						<td width=50>{{ m }}</td>
					{% if forloop.last %}
					</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td>前置時間=</td><td>預計存貨</td><td>{{ ingre.2 }}</td>
					{% for p in ingre.3 %}
						<td width=50>{{ p }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
			
				<tr>
					<td>{{ ingre.4 }} 週</td><td>淨需求</td><td></td>
					{% for n in ingre.5 %}
						<td width=50>{{ n }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td></td><td>計畫訂單接收量</td><td></td>
					{% for r in ingre.6 %}
						<td width=50>{{ r }}</td>
					{% if forloop.last %}
				</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
				<tr>
					<td></td><td>計畫訂單發出量</td><td></td>
					{% for s in ingre.7 %}
						<td width=50>{{ s }}</td>
					{% if forloop.last %}
					</tr>
					{% endif %}
					{% empty %}
					{% endfor %}
			</table>
			</div>
		</div>
	</div>
	<br>
	{% empty %}
	{% endfor %}
	<br>




</div>

{% endblock %}