<!-- stock.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}來一客產銷系統{% endblock %}
{% block content %}
<div class='container'>
	<b><font color="#008080" size="5pt">存貨管理</font></b>
	<hr style="border:2px solid #00d3a1;background-color:#66CDAA" />
	<b><font color="#008080" size="4pt">商品庫存</font></b>
	<hr style="border:1px solid #66CDAA;background-color:#66CDAA" />

	
	{% for p in products %}
	{% if forloop.first %}
	<table>
		<tr bgcolor='#ffffff'>
			<td width=50 align=center>編號</td>
			<td width=200>產品名稱</td>
			<td width=100>庫存</td>
		</tr>
	{% endif %}
		<tr bgcolor='{% cycle "#FFEFD5" "ccffcc" %}'>
			<td align=center>{{ p.id }} </td>
			<td>{{ p.name }}</td>
			<td align=center>{{ p.stock }}</td>
		</tr>
	{% if forloop.last %}
	</table>
	{% endif %}
	{% empty %}
	{% endfor %}
	<br>
	<b><font color="#008080" size="4pt">半成品庫存</font></b>
	<hr style="border:1px solid #66CDAA;background-color:#66CDAA" />
	{% for m in intermediates %}
	{% if forloop.first %}
	<table>
		<tr bgcolor='#ffffff'>
			<td width=50 align=center>編號</td>
			<td width=200>半成品名稱</td>
			<td width=100>庫存</td>
			<td width=100>安全存量</td>
		</tr>
	{% endif %}
		<tr bgcolor='{% cycle "#FFEFD5" "ccffcc" %}'>
			<td align=center>{{ m.id }} </td>
			<td>{{ m.name }}</td>
			<td align=center>{{ m.stock }}</td>
			<td align=center>{{ m.safe_stock }}</td>
		</tr>
	{% if forloop.last %}
	</table>
	{% endif %}
	{% empty %}
	{% endfor %}
	<br>
	<b><font color="#008080" size="4pt">原料庫存</font></b>
	<hr style="border:1px solid #66CDAA;background-color:#66CDAA" />
	{% for i in ingredients %}
	{% if forloop.first %}
	<table>
		<tr bgcolor='#ffffff'>
			<td width=50 align=center>編號</td>
			<td width=200>原料名稱</td>
			<td width=100>庫存</td>
			<td width=100>安全存量</td>
			<td width=80>EOQ</td>
			<td width=150>供應商</td>
		</tr>
	{% endif %}
		<tr bgcolor='{% cycle "#FFEFD5" "ccffcc" %}'>
			<td align=center>{{ i.id }} </td>
			<td>{{ i.name }}</td>
			<td align=center>{{ i.stock }}</td>
			<td align=center>{{ i.safe_stock }}</td>
			<td align=center>{{ i.EOQ }}</td>
			<td align=center>{{ i.supplier }}</td>
		</tr>
	{% if forloop.last %}
	</table>
	{% endif %}
	{% empty %}
	{% endfor %}
	<br>
	<br>
	


</div>

{% endblock %}